<!DOCTYPE html>
<html lang="en" class="app" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">
    <meta charset="utf-8"/>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Notebook | Web Application</title>
    <link rel="stylesheet" th:href="@{/css/app.v2.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/js/calendar/bootstrap_calendar.css}" type="text/css" cache="false"/>
    <link rel="stylesheet" th:href="@{/js/select2/select2.css}" type="text/css" cache="false"/>
    <link rel="stylesheet" th:href="@{/js/select2/theme.css}" type="text/css" cache="false"/>
    <link rel="stylesheet" th:href="@{/js/fuelux/fuelux.css}" type="text/css" cache="false"/>
    <link rel="stylesheet" th:href="@{/js/datepicker/datepicker.css}" type="text/css" cache="false"/>
    <link rel="stylesheet" th:href="@{/js/slider/slider.css}" type="text/css" cache="false"/>
    <!--[if lt IE 9]>
    <script th:src="@{/js/ie/html5shiv.js}" cache="false"></script>
    <script th:src="@{/js/ie/respond.min.js}" cache="false"></script>
    <script th:src="@{/js/ie/excanvas.js}" cache="false"></script>
    <![endif]-->
</head>
</html>